<div id="resume">
    <div id="resume-top">
        <div>
            <div class="resume-print"></div>
            <div id="resume-title">Anthony Mangano</div>
            <div class="resume-print"><i class="fa fa-save"></i></div>
        </div>
        <div>
            <div id="resume-address">
                Saratoga Springs, NY 12866 | (518).350.7350
            </div>
        </div>
    </div>
    <div id="resume-content">
        <div class=resume-item>
            <div class="resume-main-bold">Experience:</div>
            <div class="resume-title-underline">Freelance Developer</div>
            <div class="company-container">
                <div class="resume-company-italic">The Mangano Collective</div> 
                <div class="resume-date-right">(09/17 - ...)</div>
            </div> 
            <div class="resume-company-description">Web development and digital marketing agency.</div>
        </div>
        <div class=resume-item>
                <div class="resume-title-underline">Software Engineer (Web Frontend)</div>
                <div class="company-container">
                    <div class="resume-company-italic">ILTS</div> 
                    <div class="resume-date-right">(03/16 - 08/17)</div>
                </div> 
                <div class="resume-company-description">A leading supplier of online wagering and digital scan voting systems with installations worldwide.</div>
                <ul class="resume-list">
                    <li>Contributed to the design, development, testing, documentation and general maintenance of the company's lottery software products (both existing and greenfield projects).</li>
                    <li>Practiced Agile and Scrum with 1.5 - 2 week sprints.</li>
                    <li>Converted designs into working applications based on requirement specifications, system/equipment limitations, and established coding standards.</li>
                    <li>Reviewed product and project requirements,  providing technical input on product definition and project plans.</li>
                    <li>Created and maintained software documentation (functional and design specs).</li>
                    <li>Performed debugging of programs and routines; conducted unit-tests; assisted  with final system integration testing, software QA testing, and customer acceptance testing.</li>
                    <li>Misc: Created C# console apps  for internal use and completed minor tasks on Java Backend.</li>
                </ul>
                <div class="resume-general-description">Technologies:  HTML | CSS | JavaScript (AngularJS , Angular 2) | Karma/Jasmine | Grunt | Bootstrap</div>
        </div>
        <div class=resume-item>
                <div class="resume-title-underline">Student</div>
                <div class="company-container">
                    <div class="resume-company-italic">Origin Academy</div> 
                    <div class="resume-date-right">(09/15 - 12/15)</div>
                </div> 
                <div class="resume-company-description">A 12-week intensive coding bootcamp based out of San Diego, California covering  technologies like 
                    HTML/CSS, JavaScript, .NET, SQL, MySql, Git, and more.
              </div>
        </div>
        <div class=resume-item>
            <div class="resume-main-bold">Current Skills:</div>
            <div class="resume-skill-container">
                <span class="resume-skill-title">
                    HTML/CSS:
                </span>
                <span class="resume-skill-description">
                    Responsive designs utilizing CSS flexbox layout and previously the bootstrap library.
                </span>
            </div> 
            <div class="resume-skill-container">
                <span class="resume-skill-title">
                    JavaScript:
                </span>
                <span class="resume-skill-description">
                    Specializing in consuming data from API’s and DOM manipulation with AngularJs 1.5, and more recently Angular 2/Angular 4 with TypeScript 2. 
                </span>
            </div>
            <div class="resume-skill-container">
                <span class="resume-skill-title">
                    C# .NET:
                </span>
                <span class="resume-skill-description">
                    Exposure to C# and the .NET Framework - currently training to expand this knowledge.
                </span>
            </div> 
            <div class="resume-skill-container">
                <span class="resume-skill-title">
                    Misc:
                </span>
                <span class="resume-skill-description">
                    Misc: Karma/Jasmine, Grunt & Gulp, Angular CLI, Git, Agile/Scrum
                </span>
            </div> 
        </div>
        <div class=resume-item>
            <div class="resume-main-bold">Recent Projects:</div>
            <div class="resume-project-container">
                <span class="resume-project-title">
                    A4 Garage:
                </span>
                <span class="resume-projext-description">
                    Full featured web app written with Angular 4 & Typescript 2. Users of the app can create, read, update, and delete data through multiple clean interfaces and wizards.                     
                </span>
            </div> 
            <div class="resume-project-container">
                <span class="resume-project-title">
                    Chatbot:
                </span>
                <span class="resume-project-description">
                    Messaging app integrates with the Cleverbot API, allowing users to converse in real time.  
                </span>
            </div>
            <div class="resume-project-container">
                <span class="resume-project-title">
                   TheManganoCollective.com:
                </span>
                <span class="resume-projext-description">
                    Website and client portal utilizing  JS, Angular 1.5, and bootstrap.
                </span>
            </div> 
            <div class="resume-project-container">
                <span class="resume-project-title">
                    AnthonyMangano.com:
                </span>
                <span class="resume-projext-description">
                    Online portal which hosts personal projects, and links to others. This site relies heavily on flexbox for the unique UI/design, and was also written with Angular & TypeScript.                    
                </span>
            </div> 
        </div>
    </div>
</div>
