#resume {
    font-family: 'EB Garamond', serif;
    color: black !important;
    width: 100%;
    font-size: .85em;
    max-width: 720px;
}
@media(min-width: 720px){
    #resume {
        font-size: 1em;
    }
}
#resume a {
    color: black;
}
#resume-top {
    padding: 20px 7px;
    text-align: center;
    display: flex;
    flex-direction: column
}
#resume-top > div {
    display: flex;
    flex-direction: row;
}
#resume-title {
    flex: 5;
    font-size: 1.25em;
}
#resume-address {
    flex: 1;
}
.resume-date-right {
    flex: 1;
    text-align: right;
}
.resume-print {
    display: flex;
    flex:1;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
#resume-content {
    padding: 0 7px 25px;
}
/* //todo rename */
#resume-content > div{
    flex: 1;
}
.resume-list {
    margin: 3px;
}
.resume-item {
    /* display: flex; */
    flex-direction: column;
    padding: 5px 0;
}
.resume-general-description {
    padding: 5px 0;
}
.resume-main-bold {
    font-weight: bold;
    padding-bottom: 5px;
}
.resume-title-underline {
    text-decoration: underline;
}
.resume-company-italic {
    font-style: italic;
}
.company-container {
    display: flex;
}
.resume-skill-container {
    display: flex;
}
.resume-skill-container, .resume-project-container {
    padding: 10px 0;
}
.resume-skill-title {
    min-width: 5.5em;
    text-decoration: underline;
}
.resume-project-title {
    text-decoration: underline;
}
