#title-container{
    text-transform: uppercase;
    background: white;
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #45556a;
}

#recent-work-container{
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 44px);
    overflow: auto;
    align-items: center;
    overflow-x: hidden;
}
.recent-work-item{
    margin: auto;
    padding: 2px;
}
.recent-work-item img {
    max-width: 100%;
    display: block;
    cursor: pointer;
}

.work-images-small {
    display: block;
}
.work-images-mid {
    display: none;
}
.work-images-large {
    display: none;
}

@media(min-width: 600px) {
    .work-images-small {
        display: none;
    }
    .work-images-mid {
        display: block;
    }
    .work-images-large {
        display: none;
    }
}

@media(min-width: 1000px) {
    .work-images-small {
        display: none;
    }
    .work-images-mid {
        display: none;
    }
    .work-images-large {
        display: block;
    }
}

/* .garage-img, .garage-img::after {
    content: url('../../../assets/garage-small.png')
}
.chat-img, .chat-img::after {
    content: url('../../../assets/chat-small.png')
}
.tmc-img, .tmc-img::after {
    content: url('../../../assets/tmc-small.png')
}
.github-img, .github-img::after {
    content: url('../../../assets/github-small.png')
}
@media(min-width: 600px){
    .garage-img, .garage-img::after {
        content: url('../../../assets/garage-mid.png')
    }
    .chat-img, .chat-img::after {
        content: url('../../../assets/chat-mid.png')
    }
    .tmc-img, .tmc-img::after {
        content: url('../../../assets/tmc-mid.png')
    }
    .github-img, .github-img::after {
        content: url('../../../assets/github-mid.png')
    }
}
@media(min-width: 1000px){
    .garage-img, .garage-img::after {
        content: url('../../../assets/garage-large.png')
    }
    .chat-img, .chat-img::after {
        content: url('../../../assets/chat-large.png')
    }
    .tmc-img, .tmc-img::after {
        content: url('../../../assets/tmc-large.png')
    }
    .github-img, .github-img::after {
        content: url('../../../assets/github-large.png')
    }   
} */