<div id="title-container">
  <i class="fa fa-briefcase"></i>
  <br>Recent Work
</div>
<div id="recent-work-container">
  <div class="recent-work-item" *ngFor="let item of workItems" (click)="navigate(item)">
    <div class="work-images-small">
      <img [src]="'../../../assets/' + item.img + '-small.png'"/>
    </div>
    <div class="work-images-mid">
      <img [src]="'../../../assets/' + item.img + '-mid.png'"/>
    </div>
    <div class="work-images-large">
      <img [src]="'../../../assets/' + item.img + '-large.png'"/>
    </div>
  </div>
</div>
