.slider-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.slider-container > div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-circle{
    color: #45556a;
    font-size: .5em;
    z-index: 999;
}

.fa-circle.active{
    color: #eb812e
}