<div id="login-container">
  <div class="login-row" id="login-message">
    {{message}}
  </div>
  <div class="login-row">
    <label>Username</label>
    <input [(ngModel)]="userModel.login" #username>
  </div>
  <div class="login-row">
    <label>Password</label>
    <input [(ngModel)]="userModel.password" #password type="password">
  </div>
  <div class="login-row">
    <button (click)="populateGuest()">Guest</button>
    <button (click)="registerUser()">Register</button>
    <button (click) ="loginUser()">Sign In</button>
  </div>
</div>
