:host {
    display: flex;
    flex: 1;
    padding: 1em;
}
#quiz-container {
    background: white;
    width: 75%;
    min-width: 330px;
    margin: auto;
}
#quiz-title-container {
    background: #9fa1a3;
    text-align: center;
    padding: 1em;
    color:#28112b;
    font-weight: bold;
}
#question-index-container {
    display: flex;
    border-bottom: 0.125em solid #c5b358;
    color: #c5b358;
}
.question-index-item {
    flex: 1;
    text-align: center;
    padding: 0.625em 0;
}
/* todo */
.question-index-item:first-child {
    background: #c5b358;
    color: white;
}