<div class="main-container">
  <div class="content-container">
    S.Media top bar <hr>
    Main Content (Home, rez, contact)
  </div>
  <div class="sidebar-container">
    Recent work scroll (TMC, Garage, Chat)
  </div>
</div>

<!-- <div class="main-container">
  <div class="content-container">
    <top-bar></main-top-bar>
    <side-slider></main-side-slider>
    <home></home>  
    <resume></resume>
    <contact></contact>
  </div>
  <div class="sidebar-container">
    <recent-work-item></recent-work-item>
  </div>
</div> -->
  
  