#chatbot-container {
    display: flex;
    width: 100vw;
    min-width: 360px;
    height: 100vh;
    min-height: 360px;
    background: #f6e6d9;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);

}
::-webkit-scrollbar-thumb {
    background: rgb(241, 241, 241);
    border: 1px solid #2eb6eb;
}

#chatbot-main{
    flex: 2;
    display: flex;
    flex-direction: column
}

#chatbot-top-bar{
    padding: 3px 10px;
    background: #9fa1a3;
    color: #f6e6d9;
    cursor: pointer;
}

#chatbot-message-container {
    flex: 1;
    background-color: #d9e2f6;
    margin: 10px;
    overflow: auto;
}

.chat-message {
    display: flex;
    margin: 5px;
}
.chat-message-right{
    justify-content: flex-end;
}

.user-message, .bot-message {
    padding: 7px;
    color: white;
    border: 1px solid #d9e2f6;
    border-radius: 5px;
    max-width: 90%;
}
.user-message {
    background: #2eb6eb;    
}

.bot-message {
    background: #2eeb8b;
}

#chatbot-input{
    background-color: white;
    display: flex;
    margin: 0 10px 10px;
    background: #d9e2f6;
}

#chatbot-input textarea {
    height: 6em;
    padding: 7px;
    flex: 1;
    resize: none;
    border: none;
    outline: none;
    color: #3b3b3b;
    background: #d9e2f6 !important;
}

#chatbot-submit{
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}
#chatbot-submit:hover{
    background: rgba(0, 0, 0, 0.2);
}
#chatbot-submit:active{
    background: rgba(0, 0, 0, 0.4) !important;
}

#chatbot-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-left: 1px solid white;
    text-align: center;
    align-items: center;
    justify-content: center;
}