<div id= "dashboard-image-container" [ngStyle]="setImage(currentQuiz.imageUrl)">
  <div id="dashboard-image-text">
    <div id="dashboard-title">{{currentQuiz.displayName}} quiz </div>
    <div id="account-password-buttons">
      <div [routerLink] = "['/quiz/take', currentQuiz.name]">Try Now</div>
      <div routerLink = "/quiz/search">View All</div>
    </div>
  </div>
</div>

<div id= "dashboard-account-container">
    <div class="account-item">
      <div class="account-item-title">username</div>
      <div class="account-item-content" id="account-username">{{login}}</div>
    </div>
    <div class="account-item">
        <div class="account-item-title">password</div>
        <div id="account-password">
          <input type="password" #password>
        </div>
        <div id="account-password-buttons" (click)="updatePassword(password)">
            <div>show</div>
            <div>update</div>
        </div>
    </div>
    <div class="account-item">
        <div class="account-item-title">last sign-in</div>
        <div  class="account-item-content">{{lastLogin | date: 'shortDate'}}</div>
    </div>
</div>
<div id= "dashboard-record-container">
  <div class="dashboard-panel" *ngFor="let record of records">
    <div class="panel-title">{{record.title}}</div>
    <div class="panel-content">
      <div class="panel-sort">
        <label>category</label>
        <select #test (change)="filterRecords(record.title, test.value)"> 
          <option value="">all</option>
          <option *ngFor="let category of categorySelect" [value]="category.name">{{category.displayName}}</option>
        </select>
      </div>
      <div class="panel-title-display">
        <div class="title-item" *ngFor="let title of ['username', 'category', 'score']">
            {{title}}
        </div>
      </div>
      <div class="panel-display" *ngIf="record.values">
        <div class="display-item" *ngFor="let values of record.values">
          <div>
            {{values.login}}
          </div>
          <div>
            {{values.displayName}}
          </div>
          <div>
            {{values.score}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>