:host {
    display: flex;
    flex: 1;
    flex-direction: column;
}
#dashboard-landing-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
#dashboard-image-container {
    min-height: 200px;
    height: 35vh;
    background-image: url(http://seniorcenter.ellington-ct.gov/ImageRepository/Path?filePath=%2Fdocuments%5CIntranet%5C29%5C42%2FRed+seats+at+concert+theatre.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#dashboard-image-text {
    background: black;
    text-align: center;
}
#dashboard-title{
    padding: 10px;
    font-size: 2em;
    color: white;
}
#dashboard-sub-title{
    padding: 5px;
    background: white;
    cursor: pointer;
    color: black;
}
#dashboard-sub-title:active{
    background: 	#C5B358;
}
#dashboard-try-now {
    padding: 5px;
    font-size: 1.25em;
}
#dashboard-record-container {
    background: white;
    padding: 5px;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    flex-shrink: 0;
}
@media(min-width: 720px){
    #dashboard-record-container {
        flex-direction: row;
        padding: 25px;
    }
}
#dashboard-record-container > * {
    flex: 1;
    padding: 5px;
}
#dashboard-account-container {
    padding: 5px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 660px){
    #dashboard-account-container {
        flex-direction: row;
        align-items: normal;
        justify-content: space-around;    
    }
    .account-item {
        width: auto !important;
        min-width: 200px;
        max-width: 350px;
    }
}
.account-item {
    width: 320px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: white;
    border: 2px solid #cebf73;
    margin: 5px;
    text-align: center;
}
.account-item-title{
    background: #cebf73;
    color: white;
    text-transform: uppercase;
}
.account-item-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
#account-password {
    padding-top: 5px;
}
#account-password input {
    border-width: 0 0 1px 0;
    border-color: #28112b;
    outline: none;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
#account-password-buttons {
    display: flex;
    text-transform: uppercase;
}
#account-password-buttons > * {
    cursor: pointer;
    flex: 1;
    padding: 5px;
    background: #9fa1a3;
    color: white;
}
#account-password-buttons > *:active{
    color: #9fa1a3;
    background: white;
}
#account-password-buttons > *:first-child{
    border-right: 1px solid white;
}

/* move in component */
.dashboard-panel {
    display: flex;
    flex-direction: column;
}
.panel-title {
    padding: 15px;
    text-align: center;
    background: #28112b;
    color: white;
    text-transform: uppercase;
    font-size: 1.25em;
}
.panel-content {
    border: 5PX SOLID #28112b;
    display: flex;
    flex-direction: column;
}
.panel-sort {
    display: flex;
}
.panel-sort label, .panel-sort select {
    padding: 10px;
    border: 1px solid #9fa1a3;
}
.panel-sort label {
    background: #9fa1a3;
    color: white;
}
.panel-sort select {
    flex: 1 1 0;
}
.panel-display {
    display: flex;
    flex-direction: column;
    background: #cebf73;
    color: black;
}
.display-item{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
.display-item *{
    text-align: center;
    flex: 1;
}