<div id="main-container">
  <div id="content-container">
    <div id="top-bar">
        <div id="top-bar-spacer">
            
        </div>
        <div class="top-bar-button" id="top-resume" (click)="hybridNavigate('../../../assets/Anthony_Mangano_Resume.pdf', 'resume')">
            <i class="fa fa-file-text"></i>
            <br> Resume
        </div>
        <div class="top-bar-button" id="top-github" (click)="externalNavigate('https://github.com/anthonymangano49')">
            <i class="fa fa-github"></i>
            <br> Github
        </div>
        <div class="top-bar-button" id="top-contact" (click)="navigate('contact')">
            <i class="fa fa-pencil"></i>
            <br>Contact
        </div>
    </div>
    <div id="content">
        <div id="slider">
            <side-slider></side-slider>
        </div>
        <div id="pages" >
            <div class="arrow">
                <i (click)="navigate(-1)"class="fa fa-arrow-up" [ngClass] = "{blend: currentPage.id === 0}"></i>
            </div>
            <home class="page" *ngIf="currentPage.value === 'home'"></home>
            <resume  id="resume-page" class="page" *ngIf="currentPage.value === 'resume'"></resume>
            <contact class="page"*ngIf="currentPage.value === 'contact'"></contact>
            <div class="arrow">
                <i (click)="navigate(1)" class="fa fa-arrow-down"  [ngClass] = "{blend: currentPage.id === pages.length - 1}"></i>
            </div>
        </div>
    </div>
  </div>
  <div id="sidebar-container">
    <side-bar></side-bar>
  </div>
</div>