#home-page-container{
    padding: 10px;
    text-align: center;
    color: #eb812e;
    margin: auto;
}

#home-page-title{
    color: #45556a;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}