<div id="quiz-search-container">
  <div id="quiz-filter-sort">
    <div class="filter-row">
      <!-- <div>
        <label>Category</label>
        <select>
          <option>1</option>
        </select>
      </div>
      <div>
        <label>Difficulty</label>
        <select>
          <option>1</option>
        </select>
      </div>
      <div id="filter-spacer"></div>
      <div>
        <label>Sort</label>
        <div id="filter-sort">
          <select>
            <option>1</option>
          </select>
          <i class="fa fa-sort-amount-desc"></i>
        </div>
      </div> -->
      <!-- <div></div> -->
      <div>
        <i (click)="sort()" 
        [ngClass]="'fa fa-sort-alpha-' + sortIcon"></i>
      </div>
    </div>
  </div>
  <div id="quiz-search-contents">
    <div class="quiz-search-item" *ngFor="let quiz of quizList" [routerLink]="['/quiz/take', quiz.name]">
      <div class="search-item-text">{{quiz.displayName}}</div>
      <img [src]="quiz.minImageUrl">
    </div>
  </div>
</div>