:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#quiz-filter-sort{
    background: #9fa1a3;
    display: flex;
    flex-direction: column;
}
.filter-row {
    /* flex: 1;
    display: flex;
    flex-wrap: wrap; */
    padding: 5px;
    text-align: right;
    color: #28112b;
}
i {
    cursor: pointer;
}
/* .filter-row > * {
    flex:1;
    display: flex;
    padding: 5px;
    min-width: 300px;
}
.filter-row label {
    padding: 7px;
    flex:1;
    background:#28112b;
    color: white;
    text-align: center;
}
.filter-row select {
    flex:3;
    border-color: #28112b;
} */
#filter-sort {
    flex: 3;
    display: flex;
}
#filter-sort i{
    background: #28112b;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}
#filter-spacer {
    display: none;
}
@media(min-width: 630px) and (max-width: 939px){
    #filter-spacer {
        display: flex;
    }
}

#quiz-search-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1600px;
    margin: auto;
}
.quiz-search-item {
    position: relative;
    margin: 5px;
    width: 100%;
    cursor: pointer;
}
.quiz-search-item:active{
    border: none;
    outline: none;
    opacity: .5;
}
.search-item-text {
    position: absolute;
    bottom: 0;
    background:rgba(0, 0, 0, 0.75);
    color: white;
    padding: 15px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    width: 100%;
}
@media(min-width: 520px){
    .quiz-search-item {
        width: calc(50% - 10px);
    }
}
@media(min-width: 960px){
    .quiz-search-item {
        width: calc(33% - 10px);
    }
}
@media(min-width: 1200px){
    .quiz-search-item {
        width: calc(25% - 10px);
    }
}
.quiz-search-item img {
    width: 100%;
    height: 100%;
}

